@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;800&display=swap");

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow);
}

.text-preset-1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0em;
}

.text-preset-2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0em;
}

.text-preset-3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0em;
}

.text-preset-3-bold {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0em;
}

* {
  box-sizing: border-box;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 350px;
  background-color: var(--white);
  flex-direction: column;
  padding: 1.5em;
  gap: 1.5em;
  border-radius: 1.5em;
  border: 1px solid black;
  box-shadow: 5px 5px black;
}
.status-btn {
  background-color: var(--yellow);
  text-align: center;
  max-width: 100px;
  padding: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

img {
  border-radius: 1em;
}

.caption {
  color: var(--gray-500);
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.img-author {
  max-width: 50px;
}

.img-blog {
  max-width: 100%;
  border-radius: 1em;
}
